* {
  background-color: #212121;
  color: white;
  box-sizing: border-box;
}

.megaBox {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mainBox {
  border: 4px solid white;
  width: 400px;
  height: 400px;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.box {
  border: 2px solid black;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.smallbox {
  border: 1px solid white;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}

.setInput {
  width: 100%;
  height: 100%;
  font-size: 30px;
  text-align: center;
  font-weight: bold;
  font-family: sans-serif;

  border: none;
  outline: none;
  background-color: #212121;
  color: lightblue;
}

.input-number {
  width: 100%;
  height: 100%;
  font-size: 30px;
  text-align: center;

  border: none;
  outline: none;
  background-color: #212121;
  color: white;
}
