body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center; /* center left–right */
  align-items: center; /* center top–bottom */
  min-height: 100vh; /* full screen height */
}

#megaBox {
  align-items: center;
}

#mainBox {
  width: 300px;
  height: 300px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

#box {
  /* width: 66.67px;
  height: 66.67px; */
  /* background-color: #3498db; */
  border: 1px black solid;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

#smallbox {
  width: 50.33px;
  height: 20.33px;
  /* background-color: #3498db; */
  /* border: 1px black solid; */
  display: flex;
  justify-content: center;
  align-items: center;
}
/* 
.input {
  width: 100%;
  height: 100%;
  border: none;
  background: transparent;
  color: transparent;
  caret-color: black; 
  text-align: center;
  font-size: 22px;
} */

input {
  /* border: 1px solid black; */
}

.input-number {
  width: 100%;
  height: 100%;
  border: 1px solid black;
  background: transparent;
  color: black;
  caret-color: black;
  text-align: center;
  font-size: 22px;
  /* background-color: #3498db; */
}
